<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Action</title>
    <link rel="stylesheet" href="../global.css">
  </head>
  <body>
    <form>
      <label>
        <span class="label">Visitor Name</span>
        <input id="visitorName">
      </label>
    </form>

    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script>
      window.extensionBridge.register({
        init: function(info) {
          if (info.settings) {
            // TODO Populate form values from persisted settings.
            document.getElementById('visitorName').value = (info.settings.visitorName) || '';
          }
        },

        getSettings: function() {
          // TODO Return settings object from form values.
          return {
            visitorName: document.getElementById('visitorName').value || ''
          };
        },

        validate: function() {
          // TODO Return whether settings are valid.
          return true;
        }
      });
    </script>
  </body>
</html>
